body {
	background-image: url("../img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
	font-family: 'Kanit', sans-serif;
}

::selection {
	  color: black;
	  background: black;
}

::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: #111; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
 	width: 100%;
 	height: 80%;

}

.topnav {
    background-color: #030303;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    height: 6.6%;
    top: 0;
    z-index: 2;
    overflow: hidden; 
}

.topnav2 {
	width: 10%;
	height: 6.6%;
	background-color: cyan;
	position: fixed;
	right: 0;
	top: 0;
	margin: -5% 5% 0 0;
	z-index: 3;
	transform: skewy(45deg);
}

.topnav3 {
	width: 5%;
	height: 6.6%;
	background-color: cyan;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;
}

.icon-nav {
	right: 10%;
	position: absolute;
	min-width: 63%;
	max-width: 63%;
}

.topnav a {
		font-family: 'Caesar Dressing', cursive;
    color: cyan;
    text-align: center;
    float: left;
    top: 0;
    text-decoration: none;
		font-size: max(1.6vw, 1px);
    margin: 0.5% 0 0.5% 3%;
}

.topnav a:hover {
    color: white;
}

.tophalf {
	width: 100%;
	height: auto;
}

.tophalf img {
	width: 70%;
	padding: 20% 0 20% 0;
}

.bottom-main {
	width: 100%;
	height: 100%;
	background-color: #090909;
}
.bottom {
	width: 100%;
	color: white;
}

.bottom1 {
	background-color: #090909;
	padding-top: 2%;
	padding-bottom: 13%;
}

.bottom2 {
	background-color: #111;
	padding-top: 2%;
	padding-bottom: 13%;
}

.bottom3 {
	background-color: #090909;
	padding-bottom: 10%;
}




.headerz {
	text-align: left;
	margin-left: 11%;
	font-size: 50px;
	font-weight: 300;
	font-family: 'Carter One', cursive;
}

.headerabout {
	padding-top: 5%;
}

.headergallery {
	padding-top: 5%;
}

.text {
	font-size: 25px;
	text-align: left;
	border-left: 3px solid yellow;
	margin-left: 8%;
	padding-left: 1%;
}


.imagesdiv {
	overflow: hidden;
	display: inline-block;
}

.galleryimages {
	margin:  0.5%;
	width: 23%;
	cursor: pointer;
	transition: 0.3s;
}

.galleryimages:hover {
	opacity: 0.7;
}


.cont {
	overflow: hidden;
}

.botimg {
	width: 200px;
	margin-top: 1%;
	margin-left: 0.5%;
}
.dc {
	float: left;
	margin-left: 10%;
}

.be {
	float: left;
}

.copyrightdiv {
	padding: 5px 0 5px 0;
	background-color: #000;
	color: white;

	width: 100%;
	height: auto;
}

.copyrighttext {
	text-align: center;
}
