body {
	background-image: url("../img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
::selection {
	  color: cyan;
	  background: transparent;
}

::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background: #111; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

						/* IMAGE MODAL OPEN*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: cyan;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}
						/* IMAGE MODAL CLOSE*/


.topnav {
    background-color: #030303;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid cyan;
    overflow: hidden; 

}

.topnav2 {
	width: 10%;
	height: 49px;
	background-color: cyan;
	position: fixed;
	right: 0;
	top: 0;
	margin: -5% 5% 0 0;
	z-index: 3;
	transform: skewy(45deg);
}
.topnav3 {
	width: 5%;
	height: 49px;
	background-color: cyan;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;
}
.icon-nav {
	width: 49px;
	margin-right: 3%;
}
.topnav a {
	font-family: 'Chela One', cursive;
    float: left;
    color: cyan;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0 10px 50px;
}

.topnav a:hover {
    color: white;
}

.tophalf {
	width: 100%;
	height: auto;
}

.tophalf img {
	width: 70%;
	padding: 20% 0 20% 0;
}



.bottomhalf {
	padding-bottom: 10%;
	width: 100%;
	height: 100%;
	background-color: #030303;
	color: white;
}




.headerz {
	text-align: left;
	margin-left: 11%;
	font-size: 50px;
	font-weight: 300;
}

.headerabout {
	padding-top: 5%;
}

.text {
	font-size: 20px;
	text-align: left;
	border-left: 3px solid yellow;
	margin-left: 8%;
	padding-left: 1%;
}


.imagesdiv {
	overflow: hidden;
	display: inline-block;
}

.galleryimages {
	margin:  0.5%;
	width: 23%;
	cursor: pointer;
	transition: 0.3s;
}

.galleryimages:hover {
	opacity: 0.7;
}


.cont {
	overflow: hidden;
}

.botimg {
	width: 15%;
	margin-top: 2%;
}
.dc {
	float: left;
	margin-left: 10%;
}

.be {
	float: left;
}

.copyrightdiv {
	padding: 5px 0 5px 0;
	background-color: #090909;
	color: white;

	width: 100%;
	height: auto;
}

.copyrighttext {
	text-align: center;
}
