

body, html {
	background-image: url("img/background.jpg");
	height: 662px;
	width: 1349px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
}

/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/

#topnav {
    background-color: #333;
    overflow: hidden;
    background-color: #000000;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    margin: 0;
}

#topnav a {
	font-family: 'Chela One', cursive;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 25px;
    margin-left: 85px;
}
														/*NAVBAR*/
#topnav a:hover {
    background-color: #ddd;
    color: black;
}



/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/

.p1  {
	border-style: solid;
	border-width: 0;
	text-align: center;
	margin: 0;
	max-width: 100%;
	height: auto;
	padding: 248px 0 200px 0;
}

.test1 {

	padding-top: 30px;
	background-color: rgba(0,0,0,1);
	padding-bottom: 800px;
    margin-right: 85px;
    margin-left: 85px;

}

.p2 {
	font-family: 'Courgette', cursive;
	font-size: 70px;
	float: left;
	margin-left: 92px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.p3 {
	font-family: 'Courgette', cursive;
	color: white;
	font-size: 30px;
	float: left;
	margin-top: 200px;
	transform: translateX(-10px);
  position: absolute;
  padding: 20px;
  border-left: yellow solid 5px;
}

.p4 {
  padding: 20px;
  border-left: yellow solid 5px;
	font-family: 'Courgette', cursive;
	color: white;
	font-size: 30px;
	float: left;
	margin-top: 200px;
	transform: translate(0,-200px);
  position: absolute;
}

.p5 {
	font-family: 'Courgette', cursive;
	font-size: 70px;
	float: left;
	margin-left: 100px;
	transform: translateY(100px);
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.p6 {
	font-family: 'Courgette', cursive;
	font-size: 70px;
	float: left;
	display: block;
	position: absolute;
	transform: translate(100px,-200px);
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}





.but1 {
  position: absolute;
  transform: translate(10px,662px);
  width: 270px;
  height: 70px;
  background-color: white;
  opacity: 0;
  z-index: +2;
}

.fut1 {
  height: 100px;
  width: auto;
  position: absolute;
  transform: translate(0,650px);
}























::-webkit-scrollbar {
  width: 17px;
  background-color: black;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar-thumb {
  background: #ffe900; 
}

::-webkit-scrollbar-thumb:hover {
  background: #a09519;
}
/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/
.fest1 {
	position: relative;
	width: 270px;
	height: 135px;
	transform: translate(20px,367px);
  background-color: rgba(0,0,0,0.7);
}

.img1 {
	width: 20%;
	height: auto;
	display: block;
	float: left;
	position: absolute;
	margin-left: 20px;
	transform: translateY(367px);
  display: block;
}











.fest2 {
  position: relative;
  width: 270px;
  height: 135px;
  transform: translate(20px,367px);

}

.img2 {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  position: absolute;
  margin-left: 310px;
  transform: translateY(232px);
}





















.fest3 {
	position: relative;
	width: 270px;
	height: 135px;
	transform: translate(599px,97px);
	background-color: rgba( 0, 0, 0, 0.7);

}

.img3 {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  position: absolute;
  margin-left: 599px;
  transform: translateY(97px);
}









.fest4 {
	position: relative;
	width: 270px;
	height: 135px;
	transform: translate(889px,-38px);
	background-color: rgba( 0, 0, 0, 0.7);

}

.img4 {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  position: absolute;
  margin-left: 889px;
  transform: translateY(-38px);
}












.fest5 {
	position: relative;
	width: 270px;
	height: 135px;
	transform: translate(20px,50px);
	background-color: rgba( 0, 0, 0, 0.7);
}

.img5 {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  position: absolute;
  margin-left: 20px;
  transform: translateY(50px);
}
















.fest6 {
	position: relative;
	width: 270px;
	height: 135px;
	transform: translate(310px,-85px);
	background-color: rgba( 0, 0, 0, 0.7);
}

.img6 {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  position: absolute;
  margin-left: 310px;
  transform: translateY(-85px);
}



















.fest7 {
	position: relative;
	width: 270px;
	height: 135px;
	transform: translate(599px,-220px);
	background-color: rgba( 0, 0, 0, 0.7);
}

.img7 {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  position: absolute;
  margin-left: 599px;
  transform: translateY(-220px);
}




















.fest8 {
	position: relative;
	width: 270px;
	height: 135px;
	transform: translate(889px,-355px);
	background-color: rgba( 0, 0, 0, 0.7);
}

.img8 {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  position: absolute;
  margin-left: 889px;
  transform: translateY(-355px);
}

.trans8 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}













/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/




.left1 {
	background-color: #000;
	float: left;
	display: inline;
	padding: 0 85px 2550px 0;
	transform: skewY(45deg) translateY(-42px);
}


.right1 {
	background-color: #000;
	float: right;
	display: inline;
	padding: 0 85px 2550px 0;
	transform: skewY(-45deg) translateY(-42px);
}

.end1 {
	background-color: #111;
	height: 50px;
	width: 100%;
	display: block;
	position: absolute;
	transform: translateY(0px);
	padding-bottom: 40px;
}

.end2 {
	text-align: center;
	color: gray;
	transform: translateY(30px);
	font-size: 20px;
}

.leftend1 {
	background-color: #111;
	float: left;
	margin: 0;
	position: absolute;
	padding: 43px;
	transform: skewY(45deg) translate(-1px,-42px);
}

.rightend1 {
	background-color: #111;
	float: right;
	margin: 0;
	position: absolute;
	padding: 43px;
	transform: translate(1263px,-64px) skewY(-45deg);
}





/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/
























/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}



/* Add Animation */


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}













#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    z-index: 2;
    opacity: 0.5;
}



#myImg:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover, #myImg7:hover, #myImg8:hover {
  opacity: 1;
}

#caption, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8 {    
    animation-name: zoom;
    animation-duration: 0.6s;
}